<!DOCTYPE html>
<html>
<head>
    <title>CLI-CMS - Главная страница</title>
    <meta charset="UTF-8">
    <style>{% include 'styles/normalize_css.twig' %}</style>
    <style>{% include 'styles/main_page_styles.twig' %}</style>
</head>
<body>
    {% if records %}
        {% for record in records %}
            <div class="record" data-id="record-{{ record.id }}">
                {% for block in record.blocks %}
                    <div class="block block-{{ block.type }}" data-id="block-{{ block.id }}">
                        {% include block.template ~ '.twig' with block.data %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>Записей пока нет.</p>
    {% endif %}
</body>
</html>